
.main-header {
    margin: 0px 0 0 0;
    background-image: url("/header-bg.jpg"); 
    height: 250px;
    text-align: center;
    
}
.widget header {
    padding: 8px 35px 0 14px; 
    margin: 10px 0 10px 0;
    background-color: #111;
    border-radius: 4px;
}
.widget header h1 {
    font-size: 24px;
    line-height: 32px;
    color: #530BF1;
    margin-bottom: 0px; 
    margin: 0.45em 0;
}
.container {
    width: 96%;
}
#content{
    padding-top: 20px;    
}
.main-header h1 a  {
    color: #FFFFFF !important;
    font-weight: bold;
    font-family: inherit;
}
h1{
    font-family: inherit;
}
.main-header h3 {
    color: #FFFFFF !important;
    font-weight: 300;
    line-height: 1.5;
    font-size: 24px;
    font-family: inherit;
}
.main-header h1{
    margin-top: 50px;
}
.content header {
    margin: 20px 0 5px 0;
    font-size: 11px;
    text-align: left;
}
.main-header .social {
    float: right;
    margin: 100px 2px 0 2px;
}
.container .four.columns {
    padding-top: 20px;
}
.label-size-1 {
    font-size: 100%;
}
a {
    color: #ffffff;
    outline: 0;
}
aside{
    padding-top: 20px;
}
.content header h1 a {
    color: #8F2 !important;
}
.blog-name{
    padding-top: 40px;
}
#facebook{
    padding-top: 0px;
    }